@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@theme {
  --breakpoint-mobile: 640px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1280px;

  --color-body-grey-1: #999999;
  --color-body-grey-2: #828282;
  --color-brand-purple: #6461FC;
  --color-symbol-purple: #C5B9F6;
  --color-highlight-purple: #987EDC;
  --color-brand-blue: #0BA2F7;
  --color-card-bg: #0C0C15;
  --color-tag-bg: #0F0F18;
  --color-tag-border: #2D2341;
  --color-metric-pink: #F70ED2;
  --color-metric-green: #0E7733;

  --font-neue-regrade: var(--font-neue-regrade), system-ui, sans-serif;
  --font-montserrat: var(--font-montserrat), system-ui, sans-serif;
}

@layer utilities {
  .bg-gradient-purple-stops {
    background: linear-gradient(90deg, #48376B 50%, #1B0A3F 100%);
  }

  .shadow-purple-glow {
    box-shadow: 5px 0 100px 10px #281B6B;
  }
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: var(--background);
  color: var(--foreground);

  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

/* Custom  styles */
.coverflow-slider {
  max-width: 1200px;
  margin: 0 auto;
}

.slide-wrapper {
  transition: all 0.3s ease;
}

.slide-content {
  transform: scale(0.8) perspective(800px) rotateY(20deg);
  opacity: 0.6;
  transition: all 0.5s ease;
  filter: blur(2px);
}

.slide-content.active {
  transform: scale(1) perspective(800px) rotateY(0deg);
  opacity: 1;
  z-index: 2;
  filter: blur(0px);
}

/* Target center slide in react-slick */
.coverflow-slider .slick-slide.slick-center .slide-content {
  transform: scale(1) perspective(800px) rotateY(0deg);
  opacity: 1;
  z-index: 2;
  filter: blur(0px);
}

.coverflow-slider .slick-slide:not(.slick-center) .slide-content {
  transform: scale(0.8) perspective(800px) rotateY(-0deg);
  opacity: 0.6;
  filter: blur(2px);
}

/* Left and right slides different rotation */
.coverflow-slider .slick-slide.slick-center + .slick-slide .slide-content {
  transform: scale(0.8) perspective(800px) rotateY(0deg);
}